@font-face {
    font-family: 'LogoFont';
    src: url('../assets/fonts/Montserrat-Light-Alt1.woff2') format('woff2')
}

body {
    margin: 0;
    background-color: #222222;
    background-size: 300%;
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 1) 0%, rgba(41, 41, 61, 1) 76%, rgba(65, 66, 71, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: bg-animation 5s infinite;
    user-select: none;
    min-width: 320;
}

@keyframes bg-animation {
    0% {
        background-position: top
    }
    33% {
        background-position: left
    }
    66% {
        background-position: right
    }
    100% {
        background-position: top
    }
}

.banner {
    font-family: 'LogoFont';
    font-size: 10em;
    font-weight: 900;
    background: linear-gradient(to right, #1b56d5, #41e6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (max-width: 480px) {
    .banner {
        font-size: 6em;
    }
}

@media (min-width:1000px) {
    .banner {
        font-size: 15em;
    }
}